@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Satisfy", cursive;
}

body {
  color: white;
  background-color: #171f28;
}

body .body-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.preloader {
  z-index: 1000;
  position: fixed;
  display: none;
  background-color: #171f28;
  opacity: 0.9;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preloader img {
  width: 15vh;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.vanish {
  -webkit-animation: vanish 0.5s forwards;
          animation: vanish 0.5s forwards;
}

@-webkit-keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.section1 {
  padding: 70px 70px 30px 70px;
}

.section1 nav {
  width: 100%;
  position: relative;
}

.section1 nav .row-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.555);
  -webkit-transition: width 1s ease-out;
  transition: width 1s ease-out;
}

.section1 nav .row-nav .title {
  position: relative;
  letter-spacing: 3px;
}

.section2 {
  padding: 10px 70px;
}

.section2 .filter-options li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
  list-style: none;
}

.section2 .filter-options li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px 0;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
}

.section2 .filter-options li ul:hover {
  background-color: #cfa16b !important;
}

.section2 .gallery-container .grid-sizer,
.section2 .gallery-container .wrapper {
  width: 24%;
  margin: 0 0 1% 1%;
}

.section2 .gallery-container .grid-sizer .glightbox img,
.section2 .gallery-container .wrapper .glightbox img {
  width: 100%;
  height: auto;
  border-radius: 3%;
}

.section2 .gallery-container .grid-sizer span,
.section2 .gallery-container .wrapper span {
  display: none;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

footer .credits {
  background-color: #e7e7e7;
  color: #171f28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  padding: 5px;
}

footer .credits a {
  color: #cfa16b;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .section1 {
    padding: 20px 40px;
  }
  .section1 nav .row-nav {
    padding: 20px 0px;
  }
  .section1 nav .row-nav .title {
    font-size: 12px;
  }
  .section2 {
    padding: 10px 40px;
  }
  .section2 .gallery-container .grid-sizer,
  .section2 .gallery-container .wrapper {
    width: 32%;
    margin: 0 0 20px 1%;
  }
}

@media screen and (max-width: 576px) {
  .section1 {
    padding: 20px;
  }
  .section1 nav .row-nav {
    padding: 20px 0px;
  }
  .section1 nav .row-nav .title {
    font-size: 12px;
  }
  .section2 {
    padding: 10px 20px;
  }
  .section2 ul {
    font-size: 10px;
  }
  .section2 .gallery-container .grid-sizer,
  .section2 .gallery-container .wrapper {
    width: 48%;
    margin: 0 0 20px 2%;
  }
}
/*# sourceMappingURL=gallery.css.map */