@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Satisfy", cursive;
}

body {
  color: white;
  background-color: rgb(23, 31, 40);
  .body-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }
}

.preloader {
  z-index: 1000;
  position: fixed;
  display: none;
  background-color: rgb(23, 31, 40);
  opacity: 0.9;
  height: 100vh;
  width: 100%;
  justify-content: center;
  img {
    width: 15vh;
    height: auto;
    object-fit: contain;
  }
}

.vanish {
  animation: vanish 0.5s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.section1 {
  padding: 70px 70px 30px 70px;

  nav {
    width: 100%;
    position: relative;
    .row-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.555);
      transition: width 1s ease-out;
      .title {
        position: relative;
        letter-spacing: 3px;
      }
    }
}
}

.section2 {
  padding: 10px 70px;
  .filter-options {
    li {
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      justify-content: space-around;
      margin-bottom: 40px;
      list-style: none;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        cursor: pointer;
        padding: 5px 10px;
        margin: 5px 0;
        text-align: center;
        border: 1px solid white;
        border-radius: 5px;
        &:hover{
            background-color: rgb(207, 161, 107)!important;
          }
      }
    }
  }
  .gallery-container {
    .grid-sizer,
    .wrapper {
      width: 24%;
      margin: 0 0 1% 1%;
      .glightbox {
        img {
          width: 100%;
          height: auto;
          border-radius: 3%;
        }
      }
      span {
        display: none;
        width: 100%;
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

footer {
  .credits {
    background-color: rgb(231, 231, 231);
    color: rgb(23, 31, 40);
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding: 5px;
    a {
      color: rgb(207, 161, 107);
      font-weight: 500;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .section1 {
    padding: 20px 40px;
    nav {
      .row-nav {
        padding: 20px 0px;
        .title {
          font-size: 12px;
        }
      }
    }
  }
  .section2 {
    padding: 10px 40px;
    .gallery-container {
      .grid-sizer,
      .wrapper {
        width: 32%;
        margin: 0 0 20px 1%;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .section1 {
    padding: 20px;
    nav {
      .row-nav {
        padding: 20px 0px;
        .title {
          font-size: 12px;
        }
      }
    }
  }
  .section2 {
    ul {
      font-size: 10px;
    }
    padding: 10px 20px;
    .gallery-container {
      .grid-sizer,
      .wrapper {
        width: 48%;
        margin: 0 0 20px 2%;
      }
    }
  }
}
