@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@font-face {
  font-family: indian;
  src: url(assets/Ananda_Namaste_Regular.ttf);
}

* {
  margin: 0;
}

html {
  color: white;
  background-color: #171f28;
  font-family: "Satisfy", cursive;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.pattern {
  z-index: 1000;
  position: fixed;
  background-size: contain;
  height: 40px;
  width: 100%;
  background-repeat: repeat-x;
  background-image: url("assets/images/border-pattern.png");
}

.top-pattern {
  top: calc(50vh - 40px);
  -webkit-animation-name: intro-top;
          animation-name: intro-top;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.bottom-pattern {
  bottom: calc(50vh - 40px);
  -webkit-animation-name: intro-bottom;
          animation-name: intro-bottom;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section {
  min-height: 100vh;
  scroll-snap-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .row .col1 {
  max-width: 20%;
}

.section .row .title {
  font-family: indian;
  color: #cfa16b;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 50px;
  white-space: nowrap;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: center;
}

.section1 img {
  height: 40vh;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation-name: logo-popup;
          animation-name: logo-popup;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.section2 .col2 {
  font-size: 18px;
  letter-spacing: 1px;
  padding: 0 20px 0 0;
}

.section2 .col2 p:nth-child(3) {
  font-style: italic;
  font-weight: bold;
}

.section3 .col1 {
  text-align: center;
}

.section3 .col1 .title {
  -webkit-transform: rotate(-90deg) translateX(-50px);
          transform: rotate(-90deg) translateX(-50px);
}

.section3 .col2 {
  font-size: 16px;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3 .col2 .sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3 .col2 .sb .sb_text {
  padding: 20px;
  max-width: 30%;
}

.section3 .col2 .sb .sb_text.text1 {
  text-align: right;
}

.section3 .col2 .sb img {
  height: 38vh;
  width: auto;
  border: 5px solid #cfa16b;
}

.section3 .col2 .sb.sb2 {
  margin-top: 15px;
}

.section4 .col1 {
  text-align: center;
}

.section4 .col1 .title {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.section4 .col2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .col2 .sb_text {
  padding: 20px;
  max-width: 70%;
}

.section4 .col2 .sb_text.text1 {
  text-align: left;
}

.section4 .col2 img {
  height: 45vh;
  width: auto;
  border: 5px solid #cfa16b;
}

.section5 .col1 {
  text-align: center;
}

.section5 .col1 .title {
  -webkit-transform: rotate(-90deg) translateX(-50px);
          transform: rotate(-90deg) translateX(-50px);
}

.section5 .col2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section5 .col2 a img {
  height: 60vh;
  width: auto;
  border: 5px solid #cfa16b;
}

.section6 .col1 {
  text-align: center;
}

.section6 .col1 .title {
  -webkit-transform: rotate(-90deg) translateX(-30px);
          transform: rotate(-90deg) translateX(-30px);
}

.section6 .col2 {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section6 .col2 .img {
  height: 150px;
  width: 150px;
  border: 3px solid #cfa16b;
  border-radius: 50%;
  background-image: url("assets/images/testimonial_couple.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.section6 .col2 span {
  font-size: 25px;
  margin: 0 5px;
}

.section6 .col3 {
  margin-right: 50px;
}

.section6 .col3 a img {
  height: 40vh;
  width: auto;
  border: 5px solid #cfa16b;
}

.section7 .row {
  height: 100vh;
}

.section7 .col1 {
  text-align: center;
}

.section7 .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section7 .col2 .gallery {
  width: 100%;
}

.section7 .col2 .gallery .gallery-container .grid-sizer,
.section7 .col2 .gallery .gallery-container .wrapper {
  width: 30%;
  margin: 0 0 1% 1%;
}

.section7 .col2 .gallery .gallery-container .grid-sizer .glightbox img,
.section7 .col2 .gallery .gallery-container .wrapper .glightbox img {
  width: 100%;
  height: auto;
  border-radius: 3%;
}

.section7 .col2 .gallery .load-more {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section7 .col2 .gallery .load-more p {
  padding: 10px;
  border: white 2px solid;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section7 .col2 .gallery .load-more p:hover {
  background-color: white;
  color: black;
}

.section7 .col2 .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section7 .col2 .categories h2 {
  margin-bottom: 30px;
  text-decoration: underline;
}

.section7 .col2 .categories li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 13px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
  list-style: none;
}

.section7 .col2 .categories li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px 0;
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section7 .col2 .categories li ul:hover {
  background-color: white;
  color: black;
}

footer .col1 {
  text-align: center;
}

footer .col1 .title {
  -webkit-transform: rotate(-90deg) translateX(-50px);
          transform: rotate(-90deg) translateX(-50px);
}

footer .col2 {
  font-size: 16px;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .col2 .img {
  height: 200px;
  width: 200px;
  background-image: url("https://1000logos.net/wp-content/uploads/2021/04/WhatsApp-logo.png");
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes intro-top {
  from {
    top: calc(50vh - 40px);
  }
  to {
    top: 0;
  }
}

@keyframes intro-top {
  from {
    top: calc(50vh - 40px);
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes intro-bottom {
  from {
    bottom: calc(50vh - 40px);
  }
  to {
    bottom: 0;
  }
}

@keyframes intro-bottom {
  from {
    bottom: calc(50vh - 40px);
  }
  to {
    bottom: 0;
  }
}

@-webkit-keyframes logo-popup {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes logo-popup {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {
  html {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
  }
  .section {
    min-height: 100vh;
    scroll-snap-align: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .row .col1 {
    max-width: 100%;
  }
  .section .row .title {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    font-size: 50px;
    white-space: nowrap;
  }
  .section2 .col2 {
    padding: 20px 50px;
    text-align: justify;
  }
  .section2 .col2 p:nth-child(3) {
    font-style: italic;
    font-weight: bold;
  }
  .section3 {
    margin-top: 30px;
  }
  .section3 .row {
    width: 100%;
  }
  .section3 .row .col1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .section3 .row .col2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section3 .row .col2 .sb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section3 .row .col2 .sb .sb_text {
    padding: 20px;
    max-width: 100%;
    text-align: center;
  }
  .section3 .row .col2 .sb img {
    height: auto;
    width: 80%;
    border: 5px solid #cfa16b;
  }
  .section3 .row .col2 .sb.sb1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section3 .row .col2 .sb.sb2 {
    margin-top: 15px;
  }
  .section4 {
    min-height: 60vh;
  }
  .section4 .row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section4 .row .col1 {
    margin-bottom: 20px;
  }
  .section4 .row .col2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section4 .row .col2 img {
    margin-bottom: 20px;
    width: 80%;
    height: auto;
  }
  .section4 .row .col2 .sb_text {
    padding: 20px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .section5 {
    min-height: 60vh;
  }
  .section5 .row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section5 .row .col1 {
    margin-bottom: 20px;
  }
  .section5 .row .col2 {
    margin-top: 20px;
  }
  .section5 .row .col2 a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section5 .row .col2 a img {
    margin-bottom: 20px;
    width: 80%;
    height: auto;
  }
  .section6 .row .col2 {
    margin-top: 20px;
    margin-right: 0px;
    width: 100%;
  }
  .section6 .row .col2 p {
    padding: 20px;
    text-align: center;
  }
  .section6 .row .col3 {
    margin: 20px 0 50px;
  }
  .section6 .row .col3 a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section6 .row .col3 a img {
    width: 80%;
    height: auto;
  }
  .section7 .row .col1 {
    margin: 50px 0 20px;
  }
  .section7 .row .col2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section7 .row .col2 .gallery {
    padding: 1%;
  }
  .section7 .row .col2 .gallery .gallery-container .grid-sizer, .section7 .row .col2 .gallery .gallery-container .wrapper {
    width: 30%;
    margin: 1%;
  }
  .section7 .row .col2 .load-more {
    margin: 20px 0;
  }
  .section7 .row .col2 .categories {
    width: 100%;
  }
  .section7 .row .col2 .categories h2 {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */