*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 25px;
    transform: scale(0.5);
    img{
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
.image{
        transform: scale(1);
    }
}