@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
:root {
  --animation: none;
  --gradient:linear-gradient(250deg, #FAB579,#ED262C);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: 'Big Shoulders Display', cursive;
}

.pop-up-wrapper {
  z-index: 1000;
  position: fixed;
  inset: 0;
  display: none;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.9);
}

.pop-up-wrapper .pop-up {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
  width: clamp(10%, 600px, 80%);
  background-image: url("assets/images/nav.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  font-weight: 600;
  -webkit-animation: popup 1s forwards;
          animation: popup 1s forwards;
}

.pop-up-wrapper .pop-up p {
  background-color: #C19679;
  margin-top: 50px;
  font-size: clamp(14px, 3vmax, 28px);
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.pop-up-wrapper .pop-up p a {
  color: white;
  text-decoration: none;
}

.pop-up-wrapper .pop-up p:hover {
  background-color: #C19679;
}

.pop-up-wrapper .pop-up p:hover a {
  text-shadow: grey 2px 2px 2px;
}

.pop-up-wrapper .pop-up span {
  text-shadow: grey 2px 2px 2px;
  padding: 5px;
  color: white;
  border: #C19679 solid 3px;
  font-size: clamp(11px, 1.5vmax, 14px);
  margin-top: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.preloader {
  z-index: 1000;
  position: fixed;
  top: 10vh;
  display: none;
  background-color: black;
  opacity: 0.9;
  height: 90vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preloader img {
  width: 10vh;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: changewidth;
          animation-name: changewidth;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.fullpage-preloader {
  z-index: 10000;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  opacity: 1;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullpage-preloader img {
  width: 15vh;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.vanish {
  -webkit-animation: vanish 1s forwards;
          animation: vanish 1s forwards;
}

nav {
  z-index: 100;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
  padding: 10px 30px;
  background-color: white;
  /* Hamburger ANIMATION */
}

nav .logo-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .logo-name img {
  height: 35px;
  width: auto;
}

nav .logo-name p {
  font-size: 22px;
  font-weight: 500;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav .menu-btn {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 1;
  position: relative;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

nav .menu-btn__burger {
  width: 30px;
  height: 2px;
  background: black;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .menu-btn__burger::before,
nav .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: black;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .menu-btn__burger::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

nav .menu-btn__burger::after {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

nav .menu-btn.open .menu-btn__burger {
  background: transparent;
}

nav .menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-mobile {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--gradient);
  background-size: 1000% 1000%;
  -webkit-animation: bg-color 5s linear infinite;
          animation: bg-color 5s linear infinite;
  z-index: 10;
  -webkit-clip-path: circle(1px at calc(100% - 45px) 5%);
          clip-path: circle(1px at calc(100% - 45px) 5%);
  -webkit-transition: -webkit-clip-path 0.5s ease-out;
  transition: -webkit-clip-path 0.5s ease-out;
  transition: clip-path 0.5s ease-out;
  transition: clip-path 0.5s ease-out, -webkit-clip-path 0.5s ease-out;
}

.nav-mobile ul {
  text-align: center;
  margin: 10vh 0 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-mobile ul li {
  list-style: none;
}

.nav-mobile ul li a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.open {
  -webkit-clip-path: circle(200% at calc(100% - 45px) 5%);
          clip-path: circle(200% at calc(100% - 45px) 5%);
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#intro {
  margin: 12vh 0 50px;
  height: 80vh;
}

#intro .info {
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#intro .info .tag-line p {
  font-size: 80px;
  letter-spacing: 10px;
  font-weight: 300;
}

#intro .info .line {
  margin-top: 30px;
  display: block;
  height: 3px;
  background: var(--gradient);
  background-size: 300% 300%;
  -webkit-animation: gradient-line 3s linear infinite;
          animation: gradient-line 3s linear infinite;
}

#intro .info .tag-info {
  margin: 50px 0 0 5px;
  font-size: 16px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 3px;
}

#intro .info span {
  display: block;
  font-size: 14px;
}

#intro .img-info {
  position: relative;
  width: 100%;
  height: auto;
  z-index: -10;
}

#intro .img-info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  height: 110%;
  width: 110%;
  -webkit-animation: var(--animation);
          animation: var(--animation);
}

#intro .img-info .bg-gradient {
  width: 100%;
  height: 100%;
  z-index: -10;
  position: absolute;
  background: url("assets/images/office-space.jpg") no-repeat center center;
  background-size: cover;
}

#intro .tag-info-mobile {
  display: none;
}

#about {
  padding: 50px;
  background-color: black;
  color: white;
  letter-spacing: 2px;
  text-align: center;
}

#about .about-info-wrapper h1 {
  font-size: 50px;
}

#about .about-info-wrapper .about-info {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 300;
}

#about .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#about .col .numbers-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

#about .col .numbers-wrapper .col1 {
  width: 50%;
}

#about .col .numbers-wrapper .col1 .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 50px;
  margin-top: 30px;
}

#about .col .numbers-wrapper .col1 .number p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .col .numbers-wrapper .col1 .number p .plus {
  font-size: 30px;
}

#about .col .numbers-wrapper .col1 .number span {
  font-size: 14px;
  opacity: 0.6;
}

#about .col .numbers-wrapper .col1 .line {
  margin-top: 30px;
  display: block;
  height: 3px;
  background: var(--gradient);
  background-size: 300% 300%;
  -webkit-animation: gradient-line 3s linear infinite;
          animation: gradient-line 3s linear infinite;
}

#about .col .numbers-wrapper .col1 .number2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about .col .numbers-wrapper .col1 .number2 .number:nth-child(2) {
  margin-right: 50px;
}

#about .col .numbers-wrapper .col2 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .col .numbers-wrapper .col2 .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 90px;
}

#about .col .numbers-wrapper .col2 .number .percent {
  color: white;
  opacity: 1;
  font-size: 40px;
}

#about .col .numbers-wrapper .col2 .number span {
  font-size: 24px;
}

#services {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
}

#services .services-info h1 {
  font-size: 50px;
}

#services .services-info p {
  color: #292929;
  margin-top: 20px;
}

#services .services-wrapper {
  text-align: center;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#services .services-wrapper .services {
  color: white;
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--gradient);
  background-size: 400% 400%;
  -webkit-animation: gradient-line 5s linear infinite;
          animation: gradient-line 5s linear infinite;
}

#services .services-wrapper .services img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

#services .services-wrapper .services h2 {
  margin-top: 30px;
}

#services .services-wrapper .services p {
  text-align: left;
  margin: 30px 0 30px;
  padding: 0 20px;
}

#team {
  background-color: black;
  color: white;
  padding: 100px 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#team h1 {
  text-align: center;
  font-size: 50px;
}

#team .team-info {
  width: 50%;
}

#team .team-info p {
  font-weight: 300;
  color: lightgray;
  margin-top: 20px;
}

#team .team-info .main-team {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#team .team-info .main-team .main-team-card {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#team .team-info .main-team .main-team-card p {
  font-weight: 600;
  margin-top: 20px;
}

#team .team-info .main-team .main-team-card span {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.7;
}

#team .team-info .main-team .main-team-card .main-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

#team .team-info .main-team .main-team-card .logo {
  margin-top: 10px;
  width: 20px;
  height: auto;
  opacity: 0.7;
}

#team .team-img {
  width: 50%;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#team .team-img img {
  max-width: 90%;
}

#motivation {
  padding: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  text-align: center;
}

#motivation .motivation-wrapper h1 {
  font-size: 50px;
}

#motivation .motivation-wrapper p {
  margin-top: 20px;
  font-weight: 300;
  color: #292929;
}

#motivation .motivation-img img {
  max-width: 90%;
}

#motivation .clients-images {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

#motivation .clients-images img {
  width: 15%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 2%;
}

#works {
  background-color: black;
  color: white;
  padding: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#works .works-info h1 {
  text-align: center;
  font-size: 50px;
}

#works .gallery-container {
  margin-top: 50px;
}

#works .gallery-container .grid-sizer,
#works .gallery-container .wrapper {
  width: 24%;
  margin: 0 0 1% 1%;
}

#works .gallery-container .grid-sizer .glightbox img,
#works .gallery-container .wrapper .glightbox img {
  width: 100%;
  height: auto;
}

#works .gallery-container .grid-sizer span,
#works .gallery-container .wrapper span {
  display: none;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

#contact {
  padding: 100px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact h1 {
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#contact .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#contact .contact-wrapper .map {
  padding: 1px;
  background: var(--gradient);
  background-size: 500% 500%;
  -webkit-animation: gradient-line 3s linear infinite;
          animation: gradient-line 3s linear infinite;
}

#contact .contact-wrapper .contact-info a {
  text-decoration: none;
  color: black;
}

#contact .contact-wrapper .contact-info .email,
#contact .contact-wrapper .contact-info .phone, #contact .contact-wrapper .contact-info .linkdin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

#contact .contact-wrapper .contact-info .email img,
#contact .contact-wrapper .contact-info .phone img, #contact .contact-wrapper .contact-info .linkdin img {
  padding: 10px;
  border-radius: 10px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  background: var(--gradient);
  background-size: 500% 500%;
  -webkit-animation: gradient-line 3s linear infinite;
          animation: gradient-line 3s linear infinite;
}

#contact .contact-wrapper .contact-info .email p,
#contact .contact-wrapper .contact-info .phone p, #contact .contact-wrapper .contact-info .linkdin p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .contact-wrapper .contact-info .email p span,
#contact .contact-wrapper .contact-info .phone p span, #contact .contact-wrapper .contact-info .linkdin p span {
  font-size: 24px;
  color: black;
}

footer {
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 10px 50px;
  text-align: center;
}

@-webkit-keyframes anim1 {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes anim1 {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes gradient-line {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-line {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes bg-color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bg-color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes changewidth {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes changewidth {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes rotate {
  0% {
    width: 15vh;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    width: 20vh;
  }
  100% {
    width: 15vh;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotate {
  0% {
    width: 15vh;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    width: 20vh;
  }
  100% {
    width: 15vh;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes popup {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes popup {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 40px !important;
    text-align: center;
  }
  nav ul {
    display: none;
  }
  nav .menu-btn {
    display: block;
  }
  #intro {
    height: 80vh;
    margin-top: 15vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #intro .info .tag-line p {
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 1px;
  }
  #intro .info .line {
    width: 70%;
  }
  #intro .info .tag-info {
    display: none;
  }
  #intro .img-info {
    margin-top: 20px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 70%;
    height: 400px;
    z-index: -10;
    overflow: hidden;
  }
  #intro .tag-info-mobile {
    display: block;
    margin: 20px 30px 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 3px;
  }
  #about {
    padding: 50px 30px;
  }
  #about .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
  }
  #about .col .about-info-wrapper {
    text-align: center;
  }
  #about .col .numbers-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .col .numbers-wrapper .col1,
  #about .col .numbers-wrapper .col2 {
    width: 100%;
  }
  #about .col .numbers-wrapper .col1 .number,
  #about .col .numbers-wrapper .col2 .number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 50px;
    margin-top: 30px;
  }
  #about .col .numbers-wrapper .col1 .number span,
  #about .col .numbers-wrapper .col2 .number span {
    font-size: 14px;
    opacity: 0.6;
  }
  #about .col .numbers-wrapper .col1 .line,
  #about .col .numbers-wrapper .col2 .line {
    margin-top: 30px;
    display: block;
    height: 3px;
    background: var(--gradient);
    background-size: 300% 300%;
    -webkit-animation: gradient-line 7s linear infinite;
            animation: gradient-line 7s linear infinite;
  }
  #about .col .numbers-wrapper .col1 .number2,
  #about .col .numbers-wrapper .col2 .number2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #about .col .numbers-wrapper .col1 .number2 .number:nth-child(2),
  #about .col .numbers-wrapper .col2 .number2 .number:nth-child(2) {
    margin-right: 0px;
  }
  #about .col .numbers-wrapper .col2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .col .numbers-wrapper .col2 .number {
    font-size: 70px;
  }
  #about .col .numbers-wrapper .col2 .number span {
    font-size: 24px;
  }
  #services {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0px 30px;
    margin: 50px 0;
  }
  #services .services-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #services .services-wrapper .services {
    margin-top: 30px;
    width: 100%;
  }
  #team {
    text-align: center;
    padding: 0 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #team .team-info {
    width: 100%;
    margin-top: 30px;
  }
  #team .team-info .main-team .main-team-card p {
    font-size: 14px;
  }
  #team .team-info .main-team .main-team-card span {
    font-size: 12px;
  }
  #team .team-info .main-team .main-team-card .main-img {
    width: 80px;
    height: 80px;
  }
  #team .team-img {
    width: 100%;
    margin-top: 30px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #team .team-img img {
    margin-top: 10px;
    margin-bottom: 50px;
  }
  #motivation {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px 0;
  }
  #motivation .motivation-wrapper {
    width: 100%;
    margin-right: 0px;
  }
  #motivation .motivation-wrapper p {
    margin-top: 20px;
    font-weight: 300;
    color: #292929;
  }
  #motivation .motivation-img {
    display: none;
  }
  #motivation .clients-images {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #motivation .clients-images img {
    width: 28%;
    margin: 2%;
  }
  #works {
    padding: 50px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #works .works-info h1 {
    text-align: center;
    font-size: 50px;
  }
  #works .gallery-container {
    margin-top: 50px;
  }
  #works .gallery-container .grid-sizer,
  #works .gallery-container .wrapper {
    width: 45%;
    margin: 0 0 2% 2%;
  }
  #contact {
    padding: 50px 30px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact h1 {
    margin-bottom: 20px;
  }
  #contact .contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #contact .contact-wrapper .map {
    padding: 1px;
    border: 1px solid white;
    background: var(--gradient);
    background-size: 300% 300%;
    -webkit-animation: gradient-line 7s linear infinite;
            animation: gradient-line 7s linear infinite;
  }
  #contact .contact-wrapper .map iframe {
    height: 200px;
    width: 300px;
  }
  #contact .contact-wrapper .contact-info {
    margin-top: 30px;
  }
  #contact .contact-wrapper .contact-info .email,
  #contact .contact-wrapper .contact-info .phone, #contact .contact-wrapper .contact-info .linkdin {
    padding: 10px;
  }
  #contact .contact-wrapper .contact-info .email img,
  #contact .contact-wrapper .contact-info .phone img, #contact .contact-wrapper .contact-info .linkdin img {
    padding: 10px;
    border-radius: 10px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    background: var(--gradient);
    background-size: 300% 300%;
    -webkit-animation: gradient-line 7s linear infinite;
            animation: gradient-line 7s linear infinite;
  }
  #contact .contact-wrapper .contact-info .email p,
  #contact .contact-wrapper .contact-info .phone p, #contact .contact-wrapper .contact-info .linkdin p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .contact-wrapper .contact-info .email p span,
  #contact .contact-wrapper .contact-info .phone p span, #contact .contact-wrapper .contact-info .linkdin p span {
    font-size: 22px;
  }
  #contact .contact-wrapper .contact-info .email p a,
  #contact .contact-wrapper .contact-info .phone p a, #contact .contact-wrapper .contact-info .linkdin p a {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */