@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

:root {
  --animation: none;
  --gradient:linear-gradient(250deg, #FAB579,#ED262C);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

h1{
  font-family: 'Big Shoulders Display', cursive;
}

// All the Overlays

// .pop-up-wrapper {
//   z-index: 1000;
//   position: fixed;
//   inset: 0;
//   display: none;
//   height: 100vh;
//   width: 100%;
//   justify-content: center;
//   align-items: center;
//   background: rgba(0, 0, 0, 0.9);
//   .pop-up {
//     border-radius: 20px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     height: 60vh;
//     width: clamp(10%, 600px, 80%);
//     background-image: url("assets/images/nav.gif");
//     background-size: cover;
//     background-position: center center;
//     background-repeat: no-repeat;
//     text-align: center;
//     font-weight: 600;
//     animation: popup 1s forwards;
//     p {
//       background-color:#C19679 ;
//       margin-top: 50px;
//       font-size: clamp(14px, 3vmax, 28px);
//       padding: 20px;
//       border-radius: 20px;
//       cursor: pointer;
//       a{
//         color: white;
//         text-decoration: none;
//       }
//       &:hover {
//         background-color: #C19679;
//       }
//       &:hover a {
//         text-shadow: grey 2px 2px 2px;
//       }
//     }
//     span {
//       text-shadow: grey 2px 2px 2px;
//       padding: 5px;
//       color: white;
//       border:#C19679 solid 3px ;
//       font-size: clamp(11px, 1.5vmax, 14px);
//       margin-top: 10px;
//       border-radius: 15px;
//       cursor: pointer;
//     }
//   }
// }

.preloader {
  z-index: 1000;
  position: fixed;
  top: 10vh;
  display: none;
  background-color: black;
  opacity: 0.9;
  height: 90vh;
  width: 100%;
  justify-content: center;
  img {
    width: 10vh;
    animation-duration: 1s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: auto;
    object-fit: contain;
  }
}

.fullpage-preloader {
  z-index: 10000;
  position: fixed;
  top: 0;
  display: flex;
  background-color: white;
  opacity: 1;
  height: 100vh;
  width: 100%;
  justify-content: center;
  img {
    width: 15vh;
    animation-duration: 4s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: auto;
    object-fit: contain;
  }
}

// ACTION CLASSES
.vanish {
  animation: vanish 1s forwards;
}

//MAIN CLASSES
nav {
  z-index: 100;
  position: fixed;
  top:0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 10px 30px;
  background-color: white;
  .logo-name {
    display: flex;
    img {
      height: 35px;
      width: auto;
    }
    p {
      font-size: 22px;
      font-weight: 500;
    }
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    li {
      margin-right: 30px;
      a {
        color: black;
        text-decoration: none;
      }
      &:last-child{
        button{
          all:unset;
          cursor: pointer;
          color: white;
        padding: 10px 20px;
        background-image: linear-gradient(to right, #13424c, #164e59, #185a65, #1b6672, #1d737f, #217b7e, #2c827b, #3b8977);
        border-radius: 10px;
    }
  }
    }
  }
  .menu-btn {
    transform: scale(0.7);
    opacity: 1;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .menu-btn__burger {
    width: 30px;
    height: 2px;
    background: black;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: black;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-6px);
  }
  .menu-btn__burger::after {
    transform: translateY(6px);
  }
  /* Hamburger ANIMATION */
  .menu-btn.open .menu-btn__burger {
    background: transparent;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg);
  }
}

.nav-mobile {
  position: fixed;
  top:0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--gradient);
  background-size: 1000% 1000%;
  animation: bg-color 5s linear infinite;
  z-index: 10;
  clip-path: circle(1px at 90% 5%);
  transition: clip-path 0.5s ease-out;
  ul {
    text-align: center;
    margin: 10vh 0 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    li {
      list-style: none;
      a {
        font-weight: bold;
        text-decoration: none;
        color: white;
      }
      &:last-child{
        button{
          all:unset;
          cursor: pointer;
          color: white;
        padding: 10px 20px;
        background-image: linear-gradient(to right, #13424c, #164e59, #185a65, #1b6672, #1d737f, #217b7e, #2c827b, #3b8977);
        border-radius: 10px;
    }
  }
    }
  }
}

.open {
  clip-path: circle(200% at 90% 5%);
}

section {
  display: flex;
  min-height: 50vh;
  justify-content: space-around;
}

#intro {
  margin: 12vh 0 50px;
  height: 80vh;
  .info {
    margin:0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .tag-line {
      p {
        font-size: 80px;
        letter-spacing: 10px;
        font-weight: 300;
      }
    }
    .line {
      margin-top: 30px;
      display: block;
      height: 3px;
      background: var(--gradient);
      background-size: 300% 300%;
      animation: gradient-line 3s linear infinite;
    }
    .tag-info {
      margin: 50px 0 0 5px;
      font-size: 16px;
      font-weight: 300;
      line-height: 14px;
      letter-spacing: 3px;
    }
    span{
      display: block;
      font-size: 14px;
    }
  }
  .img-info {
    position: relative;
    width: 100%;
    height: auto;
    z-index: -10;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: white;
      height: 110%;
      width: 110%;
      animation: var(--animation);
      // animation: anim1 1s ease-in 1s forwards;
    }
    .bg-gradient {
      width: 100%;
      height: 100%;
      z-index: -10;
      position: absolute;
      background: url("assets/images/office-space.jpg") no-repeat center center;

      background-size: cover;
    }
  }
  .tag-info-mobile {
    display: none;
  }
}

#about { 
  padding: 50px;
  background-color: black;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  .about-info-wrapper {
    h1 {
      font-size: 50px;
    }
    .about-info {
      margin-top: 10px;
      font-size: 13px;
      font-weight: 300;
    }
  }
  .col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .numbers-wrapper {
      display: flex;
      margin-top: 10px;
      .col1{
        width: 50%;
        .number {
          display: flex;
          flex-direction: column;
          font-size: 50px;
          margin-top: 30px;
          p{
            display: flex;
            align-items: center;
            justify-content: center;
            .plus{
              font-size: 30px;
            }
          }
          span {
            font-size: 14px;
            opacity: 0.6;
          }
        }
        .line {
          margin-top: 30px;
          display: block;
          height: 3px;
          background: var(--gradient);
          background-size: 300% 300%;
          animation: gradient-line 3s linear infinite;
        }
        .number2 {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .number:nth-child(2) {
            margin-right: 50px;
          }
        }
      }
      .col2 {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .number {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 90px;
          .percent {
            color: white;
            opacity: 1;
            font-size: 40px;
          }
          span {
            font-size: 24px;
          }
        }
      }
    }
  }
}

#services {
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  .services-info {
    text-align: center;
    h1 {
      font-size: 50px;
    }
    p {
      color: rgb(41, 41, 41);
      margin-top: 20px;
    }
  }
  .services-wrapper {
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    .services {
      color: white;
      width: 23%;
      display: flex;
      flex-direction: column;
      background: var(--gradient);
      background-size: 400% 400%;
      animation: gradient-line 5s linear infinite;
        img{
        align-self: center;
        width: 100%;
        height: 50%;
        object-fit: cover;
        object-position: top center;
      }
      h2{
        margin-top: 30px;
      }
      p {
        text-align: left;
        margin: 30px 0 30px;
        padding: 0 20px;
      }
    }
  }
}

#team {
  h1 {
    text-align: center;
    font-size: 50px;
  }
  background-color: black;
  color: white;
  padding: 100px 50px;
  justify-content: space-between;
  align-items: center;
  .team-info {
    width: 50%;
    p {
      text-align: center;
      font-weight: 300;
      color: rgb(211, 211, 211);
      margin-top: 20px;
    }
    .main-team{
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
      .main-team-card{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
          font-weight: 600;
          margin-top: 20px;
        }
        span{
          margin-top: 10px;
          font-size: 14px;
          opacity: 0.7;
        }
        .main-img{
          border-radius: 50%;
          width: 120px;
          height: 120px;
          object-fit: cover;
        }
        .logo{
          margin-top: 10px;
          width: 20px;
          height: auto;
          opacity: 0.7;
        }
      }
    }
  }
  .team-img {
    width: 50%;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    img {
      max-width: 90%;
    }
  }
}

#motivation {
  padding: 50px;
  flex-direction: column;
  text-align: center;
  .motivation-wrapper {
    h1 {
      font-size: 50px;
    }
    p {
      margin-top: 20px;
      font-weight: 300;
      color: rgb(41, 41, 41);
    }
  }
  .clients-images {
    margin-top: 15px;
      .grid-item{
        margin: 0 10px;
        width: 18%;
        margin-top: 30px;
        img{
          max-width: 100%;
          height: auto;
        }
      }
  }
}

#works {
  background-color: black;
  color: white;
  padding: 50px;
  flex-direction: column;
  .works-info {
    h1 {
      text-align: center;
      font-size: 50px;
    }
  }
  .gallery-container {
    margin-top: 50px;
    .grid-sizer,
    .wrapper {
      width: 24%;
      margin: 0 0 1% 1%;
      .glightbox {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

#contact {
  padding: 100px 50px;
  flex-direction: column;
  h1 {
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  .contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .map {
      padding: 1px;
      background: var(--gradient);
      background-size: 500% 500%;
      animation: gradient-line 3s linear infinite;
    }
    .contact-info {
      a{
        text-decoration: none;
        color: black;
      }
      .email,
      .phone,.linkdin {
        display: flex;
        align-items: center;
        padding: 20px;
        img {
          padding: 10px;
          border-radius: 10px;
          transform: scale(0.7);
          background: var(--gradient);
          background-size: 500% 500%;
          animation: gradient-line 3s linear infinite;
        }
        p {
          display: flex;
          flex-direction: column;
          span {
            font-size: 24px;
            color: black;
          }
        }
      }
    }
  }
}

footer {
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 10px 50px;
  text-align: center;
}

// ALL THE ANIMATIONS
@keyframes anim1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes gradient-line {
  0% {
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bg-color {
  0% {
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes changewidth {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

@keyframes rotate {
  0% {
    width: 15vh;
    transform: rotate(0deg);
  }
  50%{
    width: 20vh;
  }
  100% {
    width: 15vh;
    transform: rotate(359deg);
  }
}

@keyframes popup {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


// Mobile Compatibility changes
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 40px !important;
    text-align: center;
  }
  nav {
    ul {
      display: none;
    }
    .menu-btn {
      display: block;
    }
  }
  #intro {
    height: 80vh;
    margin-top: 15vh;
    flex-direction: column;
    .info {
      .tag-line {
        p {
          font-size: 48px;
          line-height: 58px;
          letter-spacing: 1px;
        }
      }
      .line{
        width: 70%;
      }
      .tag-info {
        display: none;
      }
    }
    .img-info {
      margin-top: 20px;
      align-self: flex-end;
      width: 70%;
      height: 400px;
      z-index: -10;
      overflow: hidden;
    }
    .tag-info-mobile {
      display: block;
      margin: 20px 30px 0;
      font-size: 14px;
      font-weight: 300;
      line-height: 14px;
      letter-spacing: 3px;
    }
  }

  #about {
    padding: 50px 30px;
    .col {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0;
      .about-info-wrapper {
        text-align: center;
      }
      .numbers-wrapper {
        display: flex;
        flex-direction: column;
        .col1,
        .col2 {
          width: 100%;
          .number {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 50px;
            margin-top: 30px;
            span {
              font-size: 14px;
              opacity: 0.6;
            }
          }
          .line {
            margin-top: 30px;
            display: block;
            height: 3px;
            background: var(--gradient);
            background-size: 300% 300%;
            animation: gradient-line 7s linear infinite;
          }
          .number2 {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .number:nth-child(2) {
              margin-right: 0px;
            }
          }
        }
        .col2 {
          display: flex;
          justify-content: center;
          align-items: center;
          .number {
            font-size: 70px;
            span {
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  #services {
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 30px;
    margin: 50px 0;
    .services-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .services {
        margin-top: 30px;
        width: 100%;
      }
    }
  }

  #team {
    text-align: center;
    padding: 0 30px;
    flex-direction: column;
    .team-info {
      width: 100%;
      margin-top: 30px;
      .main-team{
        .main-team-card{
          p{
            font-size: 14px;
          }
          span{
            font-size: 12px;
          }
          .main-img{
            width: 80px;
            height: 80px;
          }
        }
      }
    }
    .team-img {
      width: 100%;
      margin-top: 30px;
      margin-left: 0px;
      display: flex;
      img {
        margin-top: 10px;
        margin-bottom: 50px;
      }
    }
  }

  #motivation {
    text-align: center;
    flex-direction: column;
    padding: 0;
    margin: 50px 0;
    .motivation-wrapper {
      padding: 0 30px;
      width: 100%;
      margin-right: 0px;
      p {
        margin-top: 20px;
        font-weight: 300;
        color: rgb(41, 41, 41);
      }
    }
    .clients-images {
      padding: 0 30px;
        .grid-item{
          width: 22%;
          margin-top: 10px;
          img{
            max-width: 100%;
            height: auto;
          }
        }
    }
  }

  #works {
    padding: 50px 20px;
    flex-direction: column;
    .works-info {
      h1 {
        text-align: center;
        font-size: 50px;
      }
    }
    .gallery-container {
      margin-top: 50px;
      .grid-sizer,
      .wrapper {
        width: 45%;
        margin: 0 0 2% 2%;
      }
    }
  }

  #contact {
    padding: 50px 30px 30px;
    flex-direction: column;
    h1 {
      margin-bottom: 20px;
    }
    .contact-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .map {
        padding: 1px;
        border: 1px solid white;
        background: var(--gradient);
        background-size: 300% 300%;
        animation: gradient-line 7s linear infinite;
        iframe {
          height: 200px;
          width: 300px;
        }
      }
      .contact-info {
        margin-top: 30px;
        .email,
        .phone,.linkdin {
          padding: 10px;
          img {
            padding: 10px;
            border-radius: 10px;
            transform: scale(0.6);
            background: var(--gradient);
            background-size: 300% 300%;
            animation: gradient-line 7s linear infinite;
          }
          p {
            display: flex;
            flex-direction: column;
            span {
              font-size: 22px;
            }
            a {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
